body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    background-color: #e2e9e2;
    color: black;
}
.products{
    display:flex;
    gap:20px;
    padding:20px;

}
.product{
    border: 2px solid #ddd;
    padding: 10px;
    width:200px;
    text-align: center;
}
button{
    padding:5px 10px;
    background-color: white;
    color: black;
    border:none;
    cursor: pointer;
}
button:hover{
    background-color: gray;
    
}